@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: Outfit;
}

body{
    height:100vh;
    width:100vw;
    background-color: #202E50;
}


.container{
    min-height: 60vh;
    width:50vw;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 5px rgb(152, 152, 211);
    max-width: 420px;
}

.inputfield{
    width:80%;
    height:2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputfield input{
    width:80%;
    height:100%;
    border-radius: 0.75rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 10px 5px rgb(194, 194, 230);
    background-color: #f3f3f3;
    border: 1px solid black;
    margin-left: 0.5rem;
}

button{
   border: none;
   background-color: #325980;
   color: #ffffff;
   height: 3rem;
   padding-left: 2rem;
   padding-right: 2rem;
   font-size: 1.3rem;
   border-radius: 0.5rem;   
}

button:hover{
    box-shadow: 0px 0px 50px 10px #202E50;
}

i{
    font-size: 2.5rem;
    /* height:2.5rem;
    width:2.5rem; */
    margin-right: 0.5rem;
    text-shadow: 2px 2px 10px rgb(152, 152, 211);
}

h1{
    text-shadow: 2px 2px 10px rgb(152, 152, 211);
}

.signup-link{
    color: blue;
}

@media (max-width:768px){
    .container{
        height: 70vh;
        width: 80vw;
    }

    .inputfield{
        height: 2.5rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    i{
        font-size: 0rem;
        margin-right: 0.5rem;
    }

    .inputfield input{
        border-radius: 0.5rem;
        margin-left: 0.5rem;
    }

    button{
        height: 2rem;
    }

    .link-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }


}
