@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: Outfit;
}

button{
    border: none;
    background-color: inherit;
    color: inherit;
}

body{
    min-height: 100vh;
    width: 100vw;
    
 }

 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.user{
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 1px 1px white;
    /* background-color: #202E50; */
    background-color: #325980;
    color: #ffffff;
}

.user p{
    margin-left: 2rem;
    font-weight: 800;
    font-size: 1.3rem;
}

.user form{
    text-decoration: none;
    color: inherit;
    /* padding: 1rem; */
    /* background-color: #325980; */
    background-color: #202E50;
    margin-right: 2rem;
    border-radius: 0.5rem;
    font-weight: 800;
    color: #ffffff;
}

.logout-btn{
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
}

.heading-div{
    align-self: center;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#D4C2B0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
   
}

.main-heading{
    margin-top: 2rem;
    align-self: center;
}

.heading{
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
    /* align-self: center; */
    margin-bottom: 2rem;
}

.heading input{
    border: none;
    height: 100%;
    border-radius: 0.5rem;
    padding-left: 2rem;
    width: 60%;
}

.heading button{
    border: none;
    padding: 1rem;
    background-color: #202E50;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.output-main{
    /* align-self: center; */
    margin-top: 1rem;
    width: 95%;
    background-color: #D4C2B0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
   
}

.sub-heading{
    margin-top: 2rem;
}

.output{
    width: 100%;
    margin-top: 2rem;
    
}

.output table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.output table thead{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.output table tr{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin-top: 0.5rem;
}

.output table thead th:nth-child(1){
    width:10%;
}

.output table thead th:nth-child(2){
    width:25%;
}
.output table thead th:nth-child(3){
    width:50%;
}
.output table thead th:nth-child(4){
    width:10%;
}

.output table tr td:nth-child(1){
    width:10%;
    text-align: center;
}
.output table tr td:nth-child(2){
    font-weight: 600;
    width:25%;
    text-align: center;
}

.output table tr td:nth-child(3){
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-wrap: break-word; 
    white-space: normal;    
    overflow: hidden;  
    width:50%;
    text-align: center;
}
.output table tr td:nth-child(4){
    width:10%;
    text-align: center;
}

.output table tr{
    height: 3rem;
}


a:hover{
    box-shadow: 0px 0px 50px 10px #202E50;
}

button:hover{
    box-shadow: 0px 0px 50px 10px #202E50;
}










@media (max-width:768px){
    body{
        min-height: 100vh;
        width: 100vw;
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .user{
        height: 10vh;
        width: 100vw;
    }

    .heading input{
        padding-left: 0.5rem;
    }

    .output table tr{
        height: 5rem;
    }

   

   
}

.how-work{
    margin-top: 2rem;
    height: 10vh;
    width: 95vw;
    background-color: #202E50;
    color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}







